<%- include('partial/header') %>
    <main class="body__main">
        <h2 class="body__main--title">Bienvenue !</h2>
        <section class="body__main--ctn">
            <a href="/calendrier" class="body__main--ctn-link">
                <article class="body__main--ctn-card">
                    <h3 class="body__main--ctn-card-title">calendrier</h3>
                </article>
            </a>
            <a href="/clubs" class="body__main--ctn-link">
                <article class="body__main--ctn-card">
                    <h3 class="body__main--ctn-card-title">clubs</h3>
                </article>
            </a>
            <a href="/admin/gameDay" class="body__main--ctn-link">
                <article class="body__main--ctn-card">
                    <h3 class="body__main--ctn-card-title">feuille de match</h3>
                </article>
            </a>
            <a href="/admin/invitations" class="body__main--ctn-link">
                <article class="body__main--ctn-card">
                    <h3 class="body__main--ctn-card-title">invitations</h3>
                </article>
            </a>
        </section>
    </main>
    <footer class="body__footer">

    </footer>
    
</body>
</html>